<script id="app-view-template" type="text/x-handlebars-template">
  
  <h3>want to know what are</h3>
  <h1>THE MOST POPULAR GITHUB REPOS?</h1>
  <a href='{{link}}'>{{image}}</a>

</script>

<!-- This will be our main container -->
<div id="main">
</div>
