/*// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

$title_padding_top: 30px;
$title_padding_bottom: 0px;


body {
	padding: 0;
	margin: 0;
	background: url(cloud.jpg);
	color: #030059;
	font-family: 'Rambla';
	text-align: center;
	h1 {
		font: {
			size: 7em;
			weight: bold; 
		}
		margin-top: $title_padding_top;
		margin-bottom: $title_padding_bottom;
	}

	h2 {
		font-size: 4em;
		margin-top: $title_padding_top;
		margin-bottom: $title_padding_bottom;	
	} 

	h3 {
		font-size: 3em;
		margin-top: 0;
		margin-bottom: $title_padding_bottom;		
	}
	div {
		width: 100%;
		height: 100%;		
	}
}

#main {
	background: url(cloud.jpg);
}

#canvas {
	-webkit-animation-duration: 0.7s;
	-moz-animation-duration: 0.7s;
	-ms-animation-duration: 0.7s;
	-o-animation-duration: 0.7s;	
}

#octocat {

	width: 400px;
	height: auto;
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	-ms-animation-delay: 0.4s;
	-o-animation-delay: 0.4s;

	-webkit-animation-duration: 0.7s;
	-moz-animation-duration: 0.7s;
	-ms-animation-duration: 0.7s;
	-o-animation-duration: 0.7s;
}

.title {
	-webkit-animation-duration: 0.6s;
	-moz-animation-duration: 0.6s;
	-ms-animation-duration: 0.6s;
	-o-animation-duration: 0.6s;
}

















