<!DOCTYPE html>
<html>
<head>
  <title>GithubGraph</title>
  <link href='http://fonts.googleapis.com/css?family=Rambla' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>
	<script id="app-view-template" type="text/x-handlebars-template">
  
  		<h3>want to know</h3>
  		<h2>THE MOST POPULAR</h2> 
  		<h1>GITHUB REPOS?</h1>
  		<a href='{{url}}'><img src='{{image}}' id='octocat'></a>

	</script>

	<!-- This will be our main container -->
	<div id="main">
	</div>

	<div id='canvas'>
		<h2>Yesterday's REPOS!</h2>
		<div id='container'>
		</div>	
	</div>


	<%= yield %>

  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

	<script>
		// var data;

		$.getJSON("/get_fork_day/date", function(data) {
			var array = data.repos
			var svg = d3.select("#container").append("svg")
	    		.attr("width", 1000)
	    		.attr("height", 500)
	    		.style("background", "white")
	    		.style("border", 'solid 5px grey');

			svg.selectAll("circle")
				.data(array)
				.enter()
				.append("circle")
				.attr('cy', function(d) {
					return d.total_forks / (Math.random() * 4)
				})
				.attr('cx', function(d){
					return d.total_forks / (Math.random() * 4)
				})
				.attr('r', function(d){
					return d.forked_today * 2
				})

				.attr('fill', 'purple')
				.append('text')
				.text(function(d) {return d.name} )
				.attr("dy", ".3em")
      			.style("text-anchor", "middle")
      			.style("color", "black");
		})

	</script>


</body>
</html>
