<!DOCTYPE html>
<html>
<head>
  <title>GithubGraph</title>
  <link href='http://fonts.googleapis.com/css?family=Rambla' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>
	<script id="app-view-template" type="text/x-handlebars-template">
  
  		<h3 class='title'>want to know</h3>
  		<h2 class='title'>THE MOST POPULAR</h2> 
  		<h1 class='title'>GITHUB REPOS?</h1>
  		<img src='{{image}}' id='octocat'>

	</script>

	<%= yield %>

  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

</body>
</html>
